<img src="/images/talho_phin/talho_phin_title.jpg">
<br /><br />
<div class="details">
  <p>
    The TALHO Public Health Information Network (TALHO Phin) is an online portal containing a collection of applications which provide users with a range of functions
    to carry out public health preparedness goals and duties.
  </p>
</div>