/*----- Ext Redesign -----*/
.ux-combo-box-cls{
  padding: 0px !important;
}
.ux-layout-auto-float-item{
  float: left;
  margin: 0px 5px;
}
.ux-layout-none-float-item{
  clear: both;
  margin: 0px 5px;
}
.ux-result-graph-container{
  text-align: center;
}
.ux-alarm-thumbnails{
  top: -5px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.ux-alarm-selected{
  border: 2px solid black !important;
}
.ux-alarm-tn-container{
  cursor:pointer;
  text-align:left;
}
.ux-ajax-loader{
  width:32px !important;
  height:32px !important;
}
.ux-empty-alarm-query-container{
  background: image-url('info_icon.png') no-repeat;
  height: 40px;
}
.ux-empty-alarm-query-container p{
  padding:10px 0px 0px 50px;
  font-size: 1.5em;
}
.ux-query-form{
  border: 1px solid #CCCCCC;
}
.clear{
  clear: both;
}
.alarm{
  height: 40px;
}
.extreme{
  background-color: #cc0000;
}
.severe{
  background-color: #fe6600;
}
.moderate{
  background-color: #f6f600;
}
.minor{
  background-color: #66cc00;
}
.unknown{
  background-color: #cacaca;
}
.rollcall_alarm_icon {
  background:image-url('images/alert.gif') no-repeat;
  height: 16px;
  padding-left: 20px;
  padding-top: 2px;
}
/*.rollcall_pdf_icon {*/
  /*background:url(/images/documents/x-office-document-small.png) 2px 0px no-repeat;*/
  /*width:20px;*/
  /*height:20px;*/
  /*position:relative;*/
  /*left:6px;*/
/*}*/
.x-tool-alarm-on{
  background: image-url('rollcall/ext_alarm_sprite.gif') -15px 0px no-repeat !important;
  width: 15px !important;
  height: 15px !important;
}
.x-tool-alarm-off{
  background:image-url('rollcall/ext_alarm_sprite.gif') 0px 0px no-repeat !important;
  width: 15px !important;
  height: 15px !important;
}
.x-tool-gis{
  background:image-url('rollcall/tool-globe.png') 0px 1px no-repeat !important;
  width: 12px !important;
  height: 12px !important;
}
.x-tool-gis-off{
  background:image-url('rollcall/globe1-off.png') 0px 0px no-repeat !important;
  width: 12px !important;
  height: 12px !important;
}
.x-tool-run-query{
  background: image-url('rollcall/run-query-icon.png') 0px 0px no-repeat !important;
  width: 15px !important;
  height: 15px !important;
}
.x-tool-report{
  background: image-url('rollcall/run-report-icon.png') 0px 0px no-repeat !important;
  width: 14px !important;
  height: 14px !important;
}
.line-check-simple{
  margin: 0 0 0 8px !important;
  clear: both;
}
.line-check{
  margin: 0 0 0 8px !important;
}
#x-form-el-enrolled_base_line_simple,
#x-form-el-enrolled_base_line_adv,
#x-form-el-return_individual_school_simple,
#x-form-el-return_individual_school_adv{
  padding-left: 0px !important;
  margin-top: -25px;
}
.x-tip-anchor-adjust{
  left: -8px;
  top: 4px;
}
.all-purpose-load-icon{
  background: image-url('/Ajax-loader.gif') no-repeat;
  height: 32px;
  width: 32px;
  margin:0px auto;
}
.alarm-tip-table{
  line-height: 1.18 !important;
  font-size: 11px !important;
}
.alarm-tip-table td span{
  padding-left:5px;
}
.ignore{
  background: #666;
  filter:alpha(opacity=60);
  opacity:0.6;
  position: relative;
  z-index: 100;
}

.school_marker_info{
  height: 120px;
}

.x-tbar-gis{
 background: image-url('rollcall/globe1.png') 0px 0px no-repeat;
 padding-left: 22px;
}

.x-panel-pinned .x-panel-tr,
.x-panel-pinned{
  background-image: image-url('rollcall/pinned-corners-sprite.gif') !important;
}

.x-panel-pinned .x-panel-tc{
  background-image: image-url('rollcall/pinned-top-bottom.gif') !important;
}
.x-add {
  background: image-url('/add.png') no-repeat scroll 0 0 transparent !important;
  padding-left: 20px !important;  
}

.details-info{
  font-size: .8em;
  -moz-border-radius: 5px 5px 5px 5px;
  background: none repeat scroll 0 0 white;
  border: 1px solid #8899AA;
  margin: 5px auto;
  padding: 0px 5px 5px;
  width: 325px;
}

.details-info .left{
  float: left;
  width: 50%;
}

.details-info span{
  padding-left: 10px;
}

.settings-btn{
  background: image-url('rollcall/tool-cog.png') no-repeat;
  width: 16px;
  height: 16px;
}

#x-form-el-school_adv, #x-form-el-zip_adv, #x-form-el-school_type_adv{
  padding-left: 0px !important;
}

.x-action-col-cell div{overflow: visible !important;}

.x-grid3-td-schools div.x-grid3-col-schools{height: 150px !important; overflow: auto;}
.x-tpl-school-name,
.x-tpl-district-name{
  height:20px;
  border-bottom: 1px solid #EDEDED;
}
.x-tpl-school-name span,
.x-tpl-district-name span{
  position: relative;
  top: 4px;
  left: 4px;
}
.x-tpl-circle-icon{
  width:16px;
  height: 16px;
  background: image-url('images/cross-circle.png');
  clear:right;
  float:right;
  margin-top: -18px;
  margin-right: 4px;
}
.add_school_btn,
.add_school_district_btn{
  background: image-url('add.png');
}
/*
 * Tables.less
 * Tables for, you guessed it, tabular data
 * ---------------------------------------- */
.rollcall_report table {
  width: 100%;
  margin-bottom: 18px;
  padding: 0;
  font-size: 13px;
  border-collapse: collapse;
}
.rollcall_report table th, .rollcall_report table td {
  padding: 10px 10px 9px;
  line-height: 18px;
  text-align: left;
}
.rollcall_report table th {
  padding-top: 9px;
  font-weight: bold;
  vertical-align: middle;
}
.rollcall_report table td {
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.rollcall_report table tbody th {
  border-top: 1px solid #ddd;
  vertical-align: top;
}
.condensed-table th, .condensed-table td {
  padding: 5px 5px 4px;
}
.bordered-table {
  border: 1px solid #ddd;
  border-collapse: separate;
  *border-collapse: collapse;
  /* IE7, collapse table to remove spacing */

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.bordered-table th + th, .bordered-table td + td, .bordered-table th + td {
  border-left: 1px solid #ddd;
}
.bordered-table thead tr:first-child th:first-child, .bordered-table tbody tr:first-child td:first-child {
  -webkit-border-radius: 4px 0 0 0;
  -moz-border-radius: 4px 0 0 0;
  border-radius: 4px 0 0 0;
}
.bordered-table thead tr:first-child th:last-child, .bordered-table tbody tr:first-child td:last-child {
  -webkit-border-radius: 0 4px 0 0;
  -moz-border-radius: 0 4px 0 0;
  border-radius: 0 4px 0 0;
}
.bordered-table tbody tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 4px;
  -moz-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
}
.bordered-table tbody tr:last-child td:last-child {
  -webkit-border-radius: 0 0 4px 0;
  -moz-border-radius: 0 0 4px 0;
  border-radius: 0 0 4px 0;
}
.rollcall_report table .span1 {
  width: 20px;
}
.rollcall_report table .span2 {
  width: 60px;
}
.rollcall_report table .span3 {
  width: 100px;
}
.rollcall_report table .span4 {
  width: 140px;
}
.rollcall_report table .span5 {
  width: 180px;
}
.rollcall_report table .span6 {
  width: 220px;
}
.rollcall_report table .span7 {
  width: 260px;
}
.rollcall_report table .span8 {
  width: 300px;
}
.rollcall_report table .span9 {
  width: 340px;
}
.rollcall_report table .span10 {
  width: 380px;
}
.rollcall_report table .span11 {
  width: 420px;
}
.rollcall_report table .span12 {
  width: 460px;
}
.rollcall_report table .span13 {
  width: 500px;
}
.rollcall_report table .span14 {
  width: 540px;
}
.rollcall_report table .span15 {
  width: 580px;
}
.rollcall_report table .span16 {
  width: 620px;
}
.zebra-striped tbody tr:nth-child(odd) td, .zebra-striped tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
.zebra-striped tbody tr:hover td, .zebra-striped tbody tr:hover th {
  background-color: #f5f5f5;
}
.rollcall_report table .header {
  cursor: pointer;
}
.rollcall_report table .header:after {
  content: "";
  float: right;
  margin-top: 7px;
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: #000 transparent;
  visibility: hidden;
}
.rollcall_report table .headerSortUp, table .headerSortDown {
  background-color: rgba(141, 192, 219, 0.25);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
.rollcall_report table .header:hover:after {
  visibility: visible;
}
.rollcall_report table .headerSortDown:after, table .headerSortDown:hover:after {
  visibility: visible;
  filter: alpha(opacity=60);
  -khtml-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
}
.rollcall_report table .headerSortUp:after {
  border-bottom: none;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000;
  visibility: visible;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  filter: alpha(opacity=60);
  -khtml-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
}
.rollcall_report table .blue {
  color: #049cdb;
  border-bottom-color: #049cdb;
}
.rollcall_report table .headerSortUp.blue, table .headerSortDown.blue {
  background-color: #ade6fe;
}
.rollcall_report table .green {
  color: #46a546;
  border-bottom-color: #46a546;
}
.rollcall_report table .headerSortUp.green, table .headerSortDown.green {
  background-color: #cdeacd;
}
.rollcall_report table .red {
  color: #9d261d;
  border-bottom-color: #9d261d;
}
.rollcall_report table .headerSortUp.red, table .headerSortDown.red {
  background-color: #f4c8c5;
}
.rollcall_report table .yellow {
  color: #ffc40d;
  border-bottom-color: #ffc40d;
}
.rollcall_report table .headerSortUp.yellow, table .headerSortDown.yellow {
  background-color: #fff6d9;
}
.rollcall_report table .orange {
  color: #f89406;
  border-bottom-color: #f89406;
}
.rollcall_report table .headerSortUp.orange, table .headerSortDown.orange {
  background-color: #fee9cc;
}
.rollcall_report table .purple {
  color: #7a43b6;
  border-bottom-color: #7a43b6;
}
.rollcall_report table .headerSortUp.purple, table .headerSortDown.purple {
  background-color: #e2d5f0;
}

/* --------- Alarm Queries Junk ---------------- */

.rollcall-query-holder{
  float:left;
  height:100%;
  border:1px solid black;
  border-radius:3px;
  position:relative;
  margin:0px 8px;
}

.rollcall-query-header{
  border-bottom:1px solid black;
  color:white;
  font-size:11px;
  font-weight:bold;
  background-color:#697B93;
}

.rollcall-tool-holder{
  float:right;
  padding:2px;
}

.rollcall-query-name{
  text-align:center;
  padding:2px;
}

.rollcall-query-detail-holder{
  overflow-y:scroll;
  padding:2px;
  position:absolute;
  bottom:0;
  right:0;
  top:19px;
  left:0px;
}

.rollcall-query-detail-table{
  width:100%;
}

.rollcall-query-detail-row{
  border-bottom:1px solid #ADADAD;
}

.rollcall-query-column-1{
  border-right: 1px solid #ADADAD;
  padding-right:2px;
}

.rollcall-query-column-2{
  padding:0 2px;
}

.rollcall-top-padding {
  padding-top: 10px;
}

.rollcall-full-height {
  min-height: 100%
}

.rollcall-navigation-accordion .x-panel-header {
  font-weight: 900;
  text-align: center;
}

/* --------- Rollcall ---------------- */

.rollcall-filter form {
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.rollcall-results {
  padding-left: 5px;
  padding-bottom: 7px;
}

.rollcall-legend {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}

.rollcallalarmquery-click {
  cursor: pointer;
}

.rollcall-alarm-query-new {
  padding-top: 10px;
}

/* --------- Rollcall ---------------- */
