/*----- Ext Redesign -----*/
.ux-combo-box-cls{
  padding: 0px !important;
}
.ux-layout-auto-float-item{
  float: left;
  margin: 0px 5px;
}
.ux-layout-none-float-item{
  clear: both;
  margin: 0px 5px;
}
.ux-result-graph-container{
  text-align: center;
}
.ux-alarm-thumbnails{
  top: -5px;
  margin-right: 5px;
  margin-bottom: 5px;

}
.ux-alarm-selected{
  border: 2px solid black !important;
}
.ux-alarm-tn-container{
  cursor:pointer;
  text-align:left;;
}
.ux-ajax-loader{
  width:32px !important;
  height:32px !important;
}
.ux-empty-alarm-query-container{
  background: url(/stylesheets/rollcall/images/saved_query_icon_ext.png) no-repeat;
  height: 60px;
}
.ux-empty-alarm-query-container p{
  padding:5px 0px 0px 70px;
  font-size: 1.5em;
}
.ux-query-form{
  border: 1px solid #CCCCCC;
}
.clear{
  clear: both;
}
.alarm{
  height: 40px;
}
.extreme{
  background-color: #cc0000;
}
.severe{
  background-color: #fe6600;
}
.moderate{
  background-color: #f6f600;
}
.minor{
  background-color: #66cc00;
}
.unknown{
  background-color: #cacaca;
}
.rollcall_alarm_icon {
  background:url(/stylesheets/images/alert.gif) no-repeat;
  height: 16px;
  padding-left: 20px;
  padding-top: 2px;
}
/*.rollcall_pdf_icon {*/
  /*background:url(/images/documents/x-office-document-small.png) 2px 0px no-repeat;*/
  /*width:20px;*/
  /*height:20px;*/
  /*position:relative;*/
  /*left:6px;*/
/*}*/
.x-tool-alarm-on{
  background:url(/stylesheets/rollcall/images/ext_alarm_sprite.gif) -15px 0px no-repeat !important;
  width: 15px !important;
  height: 15px !important;
}
.x-tool-alarm-off{
  background:url(/stylesheets/rollcall/images/ext_alarm_sprite.gif) 0px 0px no-repeat !important;
  width: 15px !important;
  height: 15px !important;
}
.x-tool-gis{
  background:url(/stylesheets/rollcall/images/tool-globe.png) 0px 1px no-repeat !important;
  width: 12px !important;
  height: 12px !important;
}
.x-tool-gis-off{
  background:url(/stylesheets/rollcall/images/globe1-off.png) 0px 0px no-repeat !important;
  width: 12px !important;
  height: 12px !important;
}
.x-tool-run-query{
  background: url(/stylesheets/rollcall/images/run-query-icon.png) 0px 0px no-repeat !important;
  width: 15px !important;
  height: 15px !important;
}
.x-tool-report{
  background: url(/stylesheets/rollcall/images/run-report-icon.png) 0px 0px no-repeat !important;
  width: 14px !important;
  height: 14px !important;
}
.base-line-check{
  margin: 0 0 0 8px !important;
}
#x-form-el-enrolled_base_line_simple,
#x-form-el-enrolled_base_line_adv{
  padding-left: 0px !important;
}
.x-tip-anchor-adjust{
  left: -8px;
  top: 4px;
}
.all-purpose-load-icon{
  background: url(/images/Ajax-loader.gif) no-repeat;
  height: 32px;
  width: 32px;
  margin:0px auto;
}
.alarm-tip-table{
  line-height: 1.18 !important;
  font-size: 11px !important;
}
.alarm-tip-table td span{
  padding-left:5px;
}
.ignore{
  background: #666;
  filter:alpha(opacity=60);
  opacity:0.6;
  position: relative;
  z-index: 100;
}

.school_marker_info{
  height: 120px;
}

.x-tbar-gis{
 background: url(/stylesheets/rollcall/images/globe1.png) 0px 0px no-repeat;
 padding-left: 22px;
}

.x-panel-pinned .x-panel-tr,
.x-panel-pinned{
  background-image: url(/stylesheets/rollcall/images/pinned-corners-sprite.gif) !important;
}

.x-panel-pinned .x-panel-tc{
  background-image: url(/stylesheets/rollcall/images/pinned-top-bottom.gif) !important;
}
.x-add {
  background: url(/images/add.png) no-repeat scroll 0 0 transparent !important;
  padding-left: 20px !important;  
}

.details-info{
  font-size: .8em;
  -moz-border-radius: 5px 5px 5px 5px;
  background: none repeat scroll 0 0 white;
  border: 1px solid #8899AA;
  margin: 5px auto;
  padding: 0px 5px 5px;
  width: 325px;
}

.details-info .left{
  float: left;
  width: 50%;
}

.details-info span{
  padding-left: 10px;
}

.settings-btn{
  background: url(/stylesheets/rollcall/images/tool-cog.png) no-repeat;
  width: 16px;
  height: 16px;
}

#x-form-el-school_adv, #x-form-el-zip_adv, #x-form-el-school_type_adv{
  padding-left: 0px !important;
}