/*----- Ext Redesign -----*/
.ux-combo-box-cls{
  padding: 0px !important;
}
.ux-layout-auto-float-item{
  float: left;
  margin: 0px 5px;
}
.ux-layout-none-float-item{
  clear: both;
  margin: 0px 5px;
}
.ux-result-graph-container{
  text-align: center;
}
.ux-saved-graphs{
  top: -5px;
  margin-right: 5px;
  margin-bottom: 5px;

}
.ux-saved-graph-container{
  text-align:center;
  height:80px;
}
.ux-saved-graphs img{
  width: 400px;
  height: 80px;
}
.ux-ajax-loader{
  width:32px !important;
  height:32px !important;
}
.ux-empty-saved-query-container{
  background: url(images/saved_query_icon_ext.png) no-repeat;
  height: 80px; 
}
.ux-empty-saved-query-container p{
  padding-left:90px;
  padding-top: 25px;
  font-size: 2em;
}
.clear{
  clear: both;
}