/*----- Ext Redesign -----*/
.ux-combo-box-cls{
  padding: 0px !important;
}
.ux-layout-auto-float-item{
  float: left;
  margin: 0px 5px;
}
.ux-layout-none-float-item{
  clear: both;
  margin: 0px 5px;
}
.ux-result-graph-container{
  text-align: center;
}
.ux-saved-graphs{
  top: -5px;
  margin-right: 5px;
  margin-bottom: 5px;

}
.ux-saved-graph-container{
  text-align:center;
  height:80px;
}
.ux-saved-graphs img{
  width: 400px;
  height: 80px;
}
.ux-ajax-loader{
  width:32px !important;
  height:32px !important;
}
.ux-empty-saved-query-container{
  background: url(images/saved_query_icon_ext.png) no-repeat;
  height: 80px; 
}
.ux-empty-saved-query-container p{
  padding-left:90px;
  padding-top: 25px;
  font-size: 2em;
}
.clear{
  clear: both;
}
.alarm{
  height: 40px;
  padding-left: 15px;
}
.extreme{
  background:url(images/status_extreme.png) 0px 1px no-repeat;
}
.severe{
  background:url(images/status_severe.png) 0px 1px no-repeat;
}
.moderate{
  background:url(images/status_moderate.png) 0px 1px no-repeat;
}
.minor{
  background:url(images/status_minor.png) 0px 1px no-repeat;
}
.unknown{
  background:url(images/status_unknown.png) 0px 1px no-repeat;
}
.rollcall_alarm_icon {
  background:url(../images/alert.gif) 0 -2px no-repeat;
}
.rollcall_pdf_icon {
  background:url(../images/file-pdf.png) 2px 0px no-repeat;
  width:20px;
  height:20px;
  position:relative;
  left:6px;
}
.x-tool-alarm-on{
  background:url(images/ext_alarm_sprite.gif) 0px 0px no-repeat !important;
  width: 15px !important;
  height: 15px !important;
}
.x-tool-alarm-off{
  background:url(images/ext_alarm_sprite.gif) 0px 0px no-repeat !important;
  width: 15px !important;
  height: 15px !important;
}
.base-line-check{
  clear:both;
  position: relative;
  top: -10px;
  left: 6px;
}
#x-form-el-enrolled_base_line_simple,
#x-form-el-enrolled_base_line_adv{
  padding-left: 0px !important;
}