<html>
  <head>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
    <style>
      .nav li a{
        outline: 0px;
      }
      
      #main_content{
        padding: 0px 0px 60px;
      }
    </style>
  </head>
  <body>
    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
          <span class="nav">
            <p class="navbar-text"><a href="/">Return to the dashboard</a></p>
          </span>
          <span class="nav pull-right">
            <p class="navbar-text"><a href="mailto:admins@talho.org">Request more information</a></p>
          </span>
        </div>
      </div>
    </div>
    
    <div id="main_content" class="container">
      <h1>Rollcall</h1>
      
      <div class="tabbable">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
          <li><a href="#history" data-toggle="tab">History</a></li>
          <li><a href="#how" data-toggle="tab">How Does It Work?</a></li>
          <li><a href="#video" data-toggle="tab">Videos and Screenshots</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="home">
            <div class="container-fluid">
              <div class="row-fluid">
                <div class="span9">
                  <h4>What is Rollcall?</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pretium, est et imperdiet pretium, lorem odio laoreet ipsum, ut fermentum metus neque quis metus. Suspendisse rutrum scelerisque nisi. Ut accumsan, lacus in pulvinar gravida, elit libero aliquam quam, id tincidunt odio velit id neque. Aenean scelerisque vulputate turpis, at auctor sem egestas consequat. Proin arcu odio, dapibus vel rutrum sit amet, mattis eget orci. Praesent ut lectus lectus, nec fringilla nibh. Suspendisse potenti. Vivamus lectus turpis, mollis non lacinia sed, tincidunt quis est. Curabitur tellus libero, malesuada non condimentum vel, vehicula nec dolor. Mauris vitae purus nisi, ut volutpat erat. Phasellus blandit, leo eget faucibus rutrum, dolor nisi porttitor dui, id porttitor ligula tortor ac purus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec nec orci ante. </p>
                  <h4>Features</h4>
                  <ul>
                    <li>Lorem ipsum</li>
                    <li>dolor sit amet</li>
                    <li>consectetur adipiscing elit</li>
                    <li>Nulla pretium</li>
                    <li>est et imperdiet pretium</li>
                  </ul>
                </div>
                <div class="span3">
                  <blockquote class="pull-right">
                    <p style="font-size:14px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pretium, est et imperdiet pretium, lorem odio laoreet ipsum, ut fermentum metus neque quis metus.</p>
                    <small>Some Person, Title, Some County</small>
                  </blockquote>
                  <blockquote class="pull-right">
                    <p style="font-size:14px;">Suspendisse rutrum scelerisque nisi. Ut accumsan, lacus in pulvinar gravida, elit libero aliquam quam, id tincidunt odio velit id neque.</p>
                    <small>Some Person, Title, Some Company</small>
                  </blockquote>
                </div>
              </div>
            </div>
          </div>
          
          <div class="tab-pane" id="history">
            <h4>History</h4>
            <p>Praesent porta semper lectus vel feugiat. Vestibulum eget nunc et enim lacinia convallis quis in nibh. Cras malesuada urna a arcu malesuada aliquam. Praesent pharetra volutpat rutrum. Fusce lacus ipsum, mattis a tincidunt eu, volutpat ut lacus. Morbi tempus lobortis nulla, et varius mauris porta at. Nam nec lorem justo. Ut posuere dictum nulla, pulvinar hendrerit mauris gravida a. Aliquam convallis eleifend tincidunt. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In in metus lacus, at commodo ligula. Aenean non lacus ac enim vestibulum porttitor ac in justo. </p>
          </div>
          
          <div class="tab-pane" id="how">
            <h4>How does it work?</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pretium, est et imperdiet pretium, lorem odio laoreet ipsum, ut fermentum metus neque quis metus. Suspendisse rutrum scelerisque nisi. Ut accumsan, lacus in pulvinar gravida, elit libero aliquam quam, id tincidunt odio velit id neque. Aenean scelerisque vulputate turpis, at auctor sem egestas consequat. Proin arcu odio, dapibus vel rutrum sit amet, mattis eget orci. Praesent ut lectus lectus, nec fringilla nibh. Suspendisse potenti. Vivamus lectus turpis, mollis non lacinia sed, tincidunt quis est. Curabitur tellus libero, malesuada non condimentum vel, vehicula nec dolor. Mauris vitae purus nisi, ut volutpat erat. Phasellus blandit, leo eget faucibus rutrum, dolor nisi porttitor dui, id porttitor ligula tortor ac purus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec nec orci ante. </p>
            <p>Praesent porta semper lectus vel feugiat. Vestibulum eget nunc et enim lacinia convallis quis in nibh. Cras malesuada urna a arcu malesuada aliquam. Praesent pharetra volutpat rutrum. Fusce lacus ipsum, mattis a tincidunt eu, volutpat ut lacus. Morbi tempus lobortis nulla, et varius mauris porta at. Nam nec lorem justo. Ut posuere dictum nulla, pulvinar hendrerit mauris gravida a. Aliquam convallis eleifend tincidunt. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In in metus lacus, at commodo ligula. Aenean non lacus ac enim vestibulum porttitor ac in justo. </p>
          </div>
          
          <div class="tab-pane" id="video">
            <h5>Demo</h5>
            <p><iframe width="420" height="315" src="http://www.youtube.com/embed/oHg5SJYRHA0" frameborder="0" allowfullscreen></iframe></p>
            <h5>Graphing Tutorial</h5>
            <p><iframe width="420" height="236" src="http://www.youtube.com/embed/9bZkp7q19f0" frameborder="0" allowfullscreen></iframe></p>
            <h5>Screenshots</h5>
            <img src="http://i.imgur.com/Cxagv.jpg"/>
          </div>        
        </div>
      </div>
    </div>
  
    <div class="navbar navbar-fixed-bottom">
      <div class="navbar-inner">
        <div class="container">
          <span class="nav">
            <p class="navbar-text">For more information email <a href="mailto:admins@talho.org">admins@talho.org</a></p>
          </span>
          <span class="nav pull-right">
            <p class="navbar-text">&copy; 2012 TALHO</p>
          </span>
        </div>
      </div>      
    </div>
  </body>
</html>
