
<style>
  .masthead{
    padding: 20px;
  }
</style>
    
<div class="masthead">
  <img src="/assets/rollcall/logo w rollcall.png" alt="Rollcall"/>
</div>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <span class="pull-left">&nbsp;</span>
    <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
    <li><a href="#history" data-toggle="tab">History</a></li>
    <li><a href="#how" data-toggle="tab">How Does It Work?</a></li>
    <li><a href="#video" data-toggle="tab">Videos and Screenshots</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active container-fluid" id="home">
      <div class="row-fluid">
        <div class="span9">
          <h4>What is Rollcall?</h4>
          <p>Rollcall is an epidemiology tool that allows for the tracking and analysis of school absenteeism and syndromes as entered by nursing.
             It uses a data feed from existing school software and removes the requirement for any sort of manual reporting of influenza-like illness from the schools to the health departments.</p>
          <h4>Features</h4>
          <ul>
            <li>Graphing and analysis tools</li>
            <li>Alarms</li>
            <li>Mapping</li>
            <li>Integrates with existing school software</li>
          </ul>
        </div>
        <div class="span3">
          <blockquote class="pull-right">
            <p style="font-size:14px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pretium, est et imperdiet pretium, lorem odio laoreet ipsum, ut fermentum metus neque quis metus.</p>
            <small>Some Person, Title, Some County</small>
          </blockquote>
          <blockquote class="pull-right">
            <p style="font-size:14px;">Suspendisse rutrum scelerisque nisi. Ut accumsan, lacus in pulvinar gravida, elit libero aliquam quam, id tincidunt odio velit id neque.</p>
            <small>Some Person, Title, Some Company</small>
          </blockquote>
        </div>
      </div>
    </div>
    
    <div class="tab-pane container-fluid" id="history">
      <h4>History</h4>
      <p>Rollcall began as a partnership with the Houston public health department to develop an early warning system for influenza outbreaks in the schools. After H1N1, the project gained a new importance,
        shifting its focus to near real-time analysis, alarms and adding in syndromic surveilance to provide additional tools to prepare for, detect, and track influenza outbreaks.</p>
      <p>Through 2011 and 2012, we completed our first expansion, covering 20+ school districts, 10+ health departments, and 700+ schools. Current goals include further expansion, development, and
        improving the speed of deploying to new schools.</p>
    </div>
    
    <div class="tab-pane container-fluid" id="how">
      <h4>How does it work?</h4>
      <p>Most school districts already have a centralized attendance application which is also being used by school nurses to enter in student nurse visits and absentee reasons. We help develop an
        automated script that is run on the school district's hosting. Once this daily export is running, the school district no longer needs to worry about reporting influenza-like illness to the health
        department. In addition, district nurses, epidemiologists, and interested parties will be able to access our analysis tools and historical data.</p>
      <p>Health departments can take advantage of a number of features, depending on their specific use case. Simple graphing gives those who are only interested in the current status of influenza-like
        illness and absenteeism a quick and easy way to access and analyze the data. Alarms, when set, can give health departments early warnings from spikes in absenteeism and influenza. Advanced graphing
        features allow epidemiologists to dig deeper into the numbers to spot patterns and trends.</p>
    </div>
    
    <div class="tab-pane container-fluid" id="video">
      <h5>Demo</h5>
      <p><iframe width="420" height="315" src="http://www.youtube.com/embed/oHg5SJYRHA0" frameborder="0" allowfullscreen></iframe></p>
      <h5>Graphing Tutorial</h5>
      <p><iframe width="420" height="236" src="http://www.youtube.com/embed/9bZkp7q19f0" frameborder="0" allowfullscreen></iframe></p>
      <h5>Screenshots</h5>
      <img src="http://i.imgur.com/Cxagv.jpg"/>
    </div>        
  </div>
</div>
  
