Please do not reply to this email.  Replies to this message will not be read or responded to.

<h2>Schools that have not reported in 5 days</h2>
<% @schools.each do |s| %>
  <%= s.name %> - <%= s.max%>
<% end %>


<h2>School Districts that have not reported in 5 days</h2>
<% @school_districts.each do |s| %>
  <%= s.name %> - <%= s.max %>
<% end %>
