<!DOCTYPE html>
<html>
  <head>
    <STYLE type="text/css">
    <!--
      @import url("/stylesheets/rollcall/rollcall.css");
    -->
    </STYLE>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
